@import "style.css";

#rules {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#rules img {
	display: block;
    margin: auto;
}

#rules p {
	display: block;
	font-weight:bold;
	font-size: 30pt;
}