@import "style.css";
@import "header.css";
@import "subheader.css";
@import "footer.css";


hr{
	border-color: #A381F3;
}
#rules {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#rules img {
	position: absolute;
	margin-left: 0;
	max-width: 230px;
	max-height: 230px;
}

#pdf img{
	position: absolute;
	right: 0;
	max-width: 250px;
	max-height: 250px;
}

#event img {
	position: absolute;
	margin-left: 0;
	max-width: 230px;
	max-height: 230px;
}

.col-md-2 img{
	column-span: 2;
	column-count: 1;
	padding-right: 0;
	max-width: 230px;
}

/* Sponsors */
.col-md-3 img{
	padding: 0;
	height: 200px;
}
.col-md-6 p{ 
	padding: 0;
	margin: auto;
	display: block;
}

.col-md-8 p{
	display: center;
	margin: 0;
	padding: 0;
}