@import "style.css";
@import "header.css";
@import "subheader.css";
@import "footer.css";

#rules {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#rules img {
	position: absolute;
	margin-left: 0;
	max-width: 230px;
	max-height: 230px;
}

#pdf img{
	position: absolute;
	right: 0;
	max-width: 250px;
	max-height: 250px;
}

#event img {
	position: absolute;
	margin-left: 0;
	max-width: 230px;
	max-height: 230px;
}

.col-md-2 img{
	display: block;
	margin-left: 0;
	max-width: 100px;
}

/* Sponsors */
.col-md-3 img{
	margin-right: auto;
	width: 200px;
}
.col-md-6 p{ 
	column-width: 531px;
	margin: auto;
	display: block;
}