@import "style.css";
@import "header.css";
@import "subheader.css";
@import "footer.css";

label{
  color: #A381F3;
  font-weight: bold;
  float: left;
}

.form_container {
  text-align: justify;
  width: 52%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.school_level {
  float: none;
  padding: 5px;
}

.box1, .box2, .box3, .box4 {
  position: realtive;
  display:inline-block; 
  border-style: solid;
  border-color:#A381F3;
  margin: 5px;
  height:150px;
  width: 150px;
}

input[type=radio] {
  margin: .4rem;
}

input[type=text], input[type=date], textarea {
  font-size: 12pt;
  padding-left: 12px;
  border: 1px solid #A381F3;
  border-radius: 4px;
  height: 2em;
  width: 40em;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background:#A381F3;
  border-radius:8px;
  padding: 12px 20px;
  width: 260px;
  font-size: 12pt;
  font-weight: bold;
  color:white;
}

input[type=submit]:hover {
  background-color: #A381F3;
  font-weight: bold;
  color: black;
}

input[type=submit]:focus { 
  outline: none;
}

input[type=submit]:active {
  color:black;
  background-color: #A381F3;
  transform: translateY(4px);
}

/*center image in ticket*/
.centerImg {
  display:block;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.ticket_button {
  background:#A381F3;
  border-radius:8px;
  padding: 12px 20px;
  width: 260px;
  height: 46px;
  font-size: 12pt;
  font-weight: bold;
  color:white;
}

.ticket-button:hover {
  background-color: #A381F3;
  font-weight: bold;
  color: black;
}

.ticket_button:focus { 
  outline: none;
}

.ticket_button:active {
  color:black;
  background-color: #A381F3;
  transform: translateY(4px);
}

hr{
  border-color:  #A381F3;
}

h1 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.grid-container-auto-75-auto {
  display: grid;
  grid-template-columns: auto 56% auto;
}

.grid-container-100 {
  display: grid;
  grid-template-columns: 100%;
}

.grid-item {
  font-size: 12pt;
  padding: 20px;
  margin: auto;
}

h2{
  font-size: 12pt;
  color: #A381F3;
}