@import "style.css";
@import "header.css";
@import "footer.css";

label{
  color: #A381F3;
  font-weight: bold;
<<<<<<< HEAD
  width: 150px;

  text-align: left;
=======
  width: 400px;
  float: left;
>>>>>>> 7f2453eca00719c4d7ab0eb0055e105baf742a29
}

.box1, .box2, .box3, .box4{
  position: realtive;
  display:inline-block; 
  border-style: solid;
  border-color:#A381F3;
  margin: 5px;
 /*  width: calc(25% - 10px); */
  height:150px;
  width: 150px;
}

.title{
  margin: auto;
}

input[type=checkbox], select, textarea{

  width: 100%;

}


 input[type=text], input[type=date], select, textarea {
  font-size: 12pt;
  font-weight: bold;
  width: 100%;
  padding-left: 12px;
  border: 1px solid #A381F3;
  border-radius: 4px;
  height: 2em;
  width: 40em;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit]{
  background:#A381F3;
  border-radius:8px;
  padding: 12px 20px;
  width: 260px;
  font-size: 12pt;
  font-weight: bold;
  color:black;
}



input[type=submit]:hover {background-color: #A381F3}

input[type=submit]:focus { outline: none;
}

input[type=submit]:active {
  color:#FFFFFF;
  transform: translateY(4px);
}

.form-container {
  display: absolute;
  background: white;
  border-radius: 5px;
  padding: 0;
}
/*center image in ticket*/
.centerImg{
  display:block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.ticket_button{
  text-decoration: none;
  width: 260px;
  font-size: 8pt;
  margin-top: 80px;
  background:#A381F3;
  border-radius:8px;
  color:black;
}

.ticket-button:hover {background-color: #A381F3}

.ticket_button:focus { outline: none;}

.ticket_button:active {
  color:white;
  background-color: #A381F3;
  transform: translateY(4px);
}

h1{
  font-size: 30px;
}
#bootstrap-overrides centerText{
  padding-right: auto;
  padding-left: auto;
}
