body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:black;
}

/* Global */
.container{
  width:90%;
  margin:auto;
  overflow:hidden;
}

.social_media{
  float: right;
  margin-right: 50px;
  margin-top: -70px;
}

.social_media img{
  padding: 5px;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.enroll_button{
  width: 280px;
  font-size: 10pt;
  background:#0E00D0;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  border-radius:8px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:black
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  /*border-bottom:white 3px solid;*/
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 30px 0 30px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  display: inline-block;
  margin-top:10px;
  margin-bottom:10px;
}

header .highlight, header .current a{
  color:#1000FF;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:700px;
  background:url('../img/showcase.jpg') no-repeat bottom;
  box-shadow: 0 0 8px 8px black inset;
  background-size: cover;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:200px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  color: white;
  margin-top:20px;
}

#boxes .box{
  display: inline-block;
  text-align:center;
  width:20%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#0B0B0B;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  .social_media,
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  .social_media{
    display: inline-block;
    margin-top: 20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

/* Content */
#content{
  min-height:700px;
  box-shadow: 0 0 8px 8px black inset;
  background-size: cover;
  text-align:center;
  background-color:#cc00cc;
  color:#ffffff;
}

#content h1{
  font-size:55px;
  margin-bottom:10px;
  text-align: center;
}

#content p{
  font-size:20px;
}
