/* Subheader */
#subheader{
  padding-top: 0px;
  overflow: hidden;
  color:#ffffff;
  background:#A381F3;
  z-index: 5;
}

#subheader a {
  padding: 20px;
  color:#000000;
}

#subheader nav {
  margin-top: 15px;
}

#subheader nav li:not(:last-child){
  border-right: solid 1px;
  color: black;
}

#subheader nav img {
  margin-right: 10px;
  max-width: 22px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 50px;
}